:root {
    --cor-um: #ffffff;
    --cor-dois: #5BC241;
    --cor-tres: #000000;
    --cor-quatro: #4aa134;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 45px;
    flex-wrap: wrap;
}

.marca {
    display: flex;
    align-items: center;
    padding: 10px;
}

h2 {
    padding-left: 5px;
    font-weight: 800;
    font-size: 20px;
}

.opcoes{
    display: flex;
    padding: 10px;
}

.opcoes li {
    display: inline-block;
    text-align: center;
}

a {
    padding: 10px 15px;
    color: var(--cor-tres);
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

a:hover {
    color: var(--cor-um);
    padding: 10px 15px;
    background-color: var(--cor-dois);
}

button {
    background-color: var(--cor-dois);
    color: var(--cor-um);
    padding: 10px 21px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

a:active {
    background-color: var(--cor-quatro);
}

button:active {
    background-color: var(--cor-quatro);
}

@media (max-width: 780px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .cabecalho {
        display: flex;
        flex-direction: column;
        padding: 45px;
        flex-wrap: wrap;
    }

    .opcoes ul{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .opcoes li {
        display: inline-block;
        text-align: center;
        padding: 5px;
        margin: 2px;
    }
}