header {
    width: 100%;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
}

div {
    padding: 45px;
    background-color: blue;
    margin: 20px;
    max-width: 200px;
    height: 100px;
}

.marca {
    display: flex;
    align-items: center;
    padding: 25px;
}

h2 {
    padding-left: 5px;
}


.opcoes {
    padding: 45px;
    flex-wrap: wrap;
    flex-shrink: 1;
    margin: 20px;
    max-width: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: aqua;
}

.opcoes li {
    display: inline-block;
    padding: 15px;
}

a {
    color: black;
    max-width: 100%;
}

.sobre {
    color: #ffffff;
}

.opcoes a {
    text-decoration: none;
}

li:nth-child(2) {
    background-color: #5BC241;
}

button {
    min-width: 100%;
    background-color: #5BC241;
    padding: 15px 25px;
    border: 0;
    border-radius: 10px;
    color: white;
}